<div class="row" id="aboutHeader">
    <br /><br /><br />
    <p class="aboutText col-md-10 col-md-offset-1">
        This website was made with the intention of it being a complete database of the windbot scripts.<br />
        We have seen how annoying it is to keep looking for scripts on the forums and getting lost in all the topics,
        looking for a specific script or Author.<br /><br />
        
        If you are a script maker feel free to add your free scripts here, and link your profile on the forums with
        the url of "windscripts.com/user/YOURNAME".<br /><br />
        
        If you are looking for scripts to use the bot feel free to browse and download our free scripts.<br />
        <a href="https://tibiawindbot.com/">Windbot official website</a>
        <br /><br />
        
        There will be more updates soon for to support private scripts (to share with your guild only) and paid scripts with a built in payment system.<br /><br />
        
        
    </p>
    <br /><br /><br /><br />
</div>