<!-- login.html -->
<div id="loginHeader" class="container">
    <h1 ng-bind="vm.message"></h1>
    <hr />
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form name="loginForm" ng-submit="vm.submitForm(loginForm.$valid, user)" novalidate>
                <!-- username -->
                <div class="form-group" ng-class="{'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine}">
                    <label for="usernameLogin" class="txtmd">Username</label>
                    <input type="text" class="form-control" name="username" id="usernameLogin"  ng-model="user.username" ng-minlength="3" ng-maxlength="20" placeholder="Username" autocomplete="off" required />
                    <p ng-show="loginForm.username.$error.minlength" class="help-block">Username is too short.</p>
                    <p ng-show="loginForm.username.$error.maxlength" class="help-block">Username is too long.</p>
                </div>
                <!-- password -->
                <div class="form-group" ng-class="{'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine}">
                    <label for="passwordLogin" class="txtmd">Password</label>
                    <input type="password" class="form-control" name="password" id="passwordLogin" ng-model="user.password" ng-minlength="6" ng-maxlength="12" placeholder="Password" autocomplete="off" required />
                    <p ng-show="loginForm.password.$error.minlength" class="help-block">Password is too short.</p>
                    <p ng-show="loginForm.password.$error.maxlength" class="help-block">Password is too long.</p>
                </div>
                <button type="submit" ng-disabled="loginForm.$invalid || vm.waitForReturn" class="btn btn-primary">Login</button>
                <p class="help-block" ng-bind="vm.returnDisplay"></p>
                <br /><br />
                <a ui-sref="signup"><b>Signup</b></a>
            </form>
        </div>
    </div>   
    <br />
</div>


     


<!-- ng-click="vm.login(user)"-->


