<!-- signup.html -->
<div id="signupHeader" class="container">
    <h1 ng-bind="vm.message"></h1>
    <hr />
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form name="signupForm" ng-submit="vm.submitForm(signupForm.$valid, user)" novalidate>
                <!-- username -->
                <div class="form-group" ng-class="{'has-error' : signupForm.username.$invalid && !signupForm.username.$pristine}">
                    <label for="usernameSignup" class="txtmd">Username</label>
                    <input type="text" class="form-control" name="username" id="usernameSignup" ng-model="user.username" ng-minlength="3" ng-maxlength="20" placeholder="Username" autocomplete="off" required />
                    <p ng-show="signupForm.username.$error.minlength" class="help-block">Username is too short.</p>
                    <p ng-show="signupForm.username.$error.maxlength" class="help-block">Username is too long.</p>
                </div>
                <!-- password -->
                <div class="form-group" ng-class="{'has-error' : signupForm.password.$invalid && !signupForm.password.$pristine}">
                    <label for="passwordSignup" class="txtmd">Password</label>
                    <input type="password" class="form-control" name="password" id="passwordSignup" ng-model="user.password" ng-minlength="6" ng-maxlength="12" placeholder="Password" autocomplete="off" required />
                    <p ng-show="signupForm.password.$error.minlength" class="help-block">Username is too short.</p>
                    <p ng-show="signupForm.password.$error.maxlength" class="help-block">Username is too long.</p>
                </div>
                <button type="submit" class="btn btn-primary" ng-disabled="signupForm.$invalid || vm.waitForReturn">Sign Up</button>
                <p class="help-block" ng-bind="vm.returnDisplay"></p>
                <br /><br />
                <a ui-sref="login"><b>Login</b></a>
            </form>
        </div>
    </div>   
    <br />
</div>





