<div class="row" id="vocationHeader">
    <div class="col-md-8 col-md-offset-2">
        <img class="img-responsive center-block" id="vocationImage" src="./assets/img/vocations.png"/>
    </div>    
</div>
<div class="row" id="VocationFilter">    
    <h1 class="text-center"><span ng-bind="vm.vocation.capitalizeFirstLetter();"></span> Scripts</h1>
</div>
<br />
<div class="row">
<div class="col-md-12">
        <div class="col-md-3" ng-repeat="script in vm.scriptsByVocation">
            <a ui-sref="tibiascript({script_Id: script._id})">
                <div class="thumbnail">
                    <img ng-src="{{script.HeaderImgUrl}}" alt="{{script.Title}}" />
                    <div class="caption">
                        <h4 ng-bind="script.Title"></h4>
                        <p><b>Vocation: </b><span ng-bind="script.Vocation"></span></p>
                        <p><b>Level: </b><span ng-bind="script.LevelFrom"></span><b> To </b><span ng-bind="script.LevelTo"></span></p>
                        <p><b>Author: </b><span ng-bind="script.Author"></span></p>
                        <p>
                            <span ng-show="script.Free"><b>Free</b></span>
                            <span ng-show="!script.Free"><b>Paid</b></span>
                        </p>
                    </div>
                </div>
            </a>            
        </div>        
    </div>
</div>