<!-- addscript.html -->
<div style="margin-top:75px;">
    <h1>Add Script</h1>
</div>
<div class="row">        
    <form name="addScriptForm" ng-submit="vm.submitForm(addScriptForm.$valid, vm.script)" novalidate>
        <div class="col-md-6 col-md-offset-1">
            <br /><br />
            <!-- Title -->
            <div class="form-group">
                <label for="ScriptTitle">Title</label>
                <p class="help-block">(*required - start the title with vocation initials in [ ] brackets to follow naming convention)</p>  
                <input type="text" id="ScriptTitle" ng-model="vm.script.Title" class="form-control" placeholder="Script Title" autocomplete="off" ng-maxlength="30" required />
            </div>
            <!-- Location -->
            <div class="form-group">
                <label for="Location">Location</label>
                <p class="help-block">(*required)</p>
                <input type="text" id="Location" ng-model="vm.script.Location" class="form-control" placeholder="Location" autocomplete="off" ng-maxlength="25" required />                
            </div>
            <!-- Requirements -->
            <div class="form-group">
                <label for="Requirements">Requirements</label>
                <textarea class="form-control" rows="5" ng-model="vm.script.Requirements" id="Requirements" autocomplete="off" ></textarea>
            </div>
            <!-- Difficulty -->
            <div class="form-group">
                <label for="Difficulty">Difficulty</label><br />
                <div class="btn-group" id="Difficulty" data-toggle="buttons">
                    <label class="btn btn-primary">
                        <input type="radio" name="Difficulty" value="Easy" ng-model="vm.script.Difficulty" id="Easy"> Easy
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="Difficulty" value="Medium" ng-model="vm.script.Difficulty" id="Medium"> Medium
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="Difficulty" value="Hard" ng-model="vm.script.Difficulty" id="Hard"> Hard
                    </label>
                </div>
            </div>
            <!-- Vocation -->
            <label for="Vocation">Vocation</label><br />
            <p class="help-block">(if you don't choose a vocation it will display "ALL")</p>
            <div class="btn-group" id="Vocation" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="checkbox" name="Vocation" class="EK" value="true" ng-model="vm.script.EK" autocomplete="off"> Knight
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="Vocation" class="ED" value="true" ng-model="vm.script.MS" autocomplete="off"> Sorcerer
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="Vocation" class="MS" value="true" ng-model="vm.script.ED" autocomplete="off"> Druid
                </label>
                <label class="btn btn-primary">
                    <input type="checkbox" name="Vocation" class="RP" value="true" ng-model="vm.script.RP" autocomplete="off"> Paladin
                </label>
            </div>
            <br /><br />
            <!-- Features -->
            <div class="form-group">
                <label for="Features">Features</label><br />
                <textarea class="form-control" rows="5" ng-model="vm.script.Features" id="Features" autocomplete="off"></textarea>
            </div>
            <!-- Level -->
            <label>Level</label><br />
            <div class="col-md-12">
                <p class="help-block">(*required - leave the "To" textbox blank if there's no level limit i.e: Level 200+)</p>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="number" id="LevelFrom" name="LevelFrom" ng-model="vm.script.LevelFrom" class="form-control" placeholder="From" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="number" id="LevelTo" name="LevelTo" ng-model="vm.script.LevelTo" class="form-control" placeholder="To" required>
                    </div>
                </div>
            </div>
            <br /><br />
            <!-- Exp -->
            <label>Exp</label><br />
            <div class="col-md-12">
                <p class="help-block">(*required)</p>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="number" id="ExpFrom" name="ExpFrom" ng-model="vm.script.ExpFrom" class="form-control" placeholder="Exp From" required>k/h
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="number" id="ExpTo" name="ExpTo" ng-model="vm.script.ExpTo" class="form-control" placeholder="Exp To" required>k/h
                    </div>
                </div>
            </div>
            <br /><br />
            <!-- Loot -->
            <label>Loot</label><br />
            <div class="col-md-12">
                <p class="help-block">(*required)</p>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="number" id="LootFrom" name="LootFrom" ng-model="vm.script.LootFrom" class="form-control" placeholder="Loot From" required>k/h
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="number" id="LootTo" name="LootTo" ng-model="vm.script.LootTo" class="form-control" placeholder="Loot To" required>k/h
                    </div>
                </div>
            </div>
            <br /><br />
            <!-- Free/Paid -->
            <div class="form-group">
                <div class="radio">
                    <label>
                        <input type="radio" id="FreeChBox" name="Free" value="true" ng-model="vm.script.Free">
                        <b>Free</b>
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" id="PaidChBox" name="Paid" value="false" ng-model="vm.script.Free">
                        <b>Paid</b>
                    </label>
                </div>
            </div>
            <div id="PaymentInputs" style="display:none;">
                <!-- Paypal Price -->
                <div class="form-group">
                    <label for="Paypal">Paypal Price</label>
                    <input type="number" id="Paypal" class="form-control" name="Paypal" ng-model="vm.script.Paypal" placeholder="Paypal Price" value="0" />
                </div>
                <!-- Gold Checkbox -->
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="true" id="GoldChBox"> Gold
                    </label>
                </div>
                <!-- Gold Retro Price -->
                <div class="form-group TibiaGold" style="display:none">
                    <label for="TibiaGoldRetro">Gold Retro Price</label>
                    <input type="number" id="TibiaGoldRetro" class="form-control" name="TibiaGoldRetro" ng-model="vm.script.TibiaGoldRetro" placeholder="Gold Retro Price" value="0" />
                </div>
                <!-- Gold Other Price -->
                <div class="form-group TibiaGold" style="display:none">
                    <label for="TibiaGoldOther">Gold Other Price</label>
                    <input type="number" id="TibiaGoldOther" class="form-control" name="TibiaGoldOther" ng-model="vm.script.TibiaGoldOther" placeholder="Gold Other Price" value="0" />
                </div>
                <!-- Coin Check -->
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="true" id="CoinChBox"> Tibia Coin
                    </label>
                </div>
                <!-- Coin Retro Price -->
                <div class="form-group TibiaCoin" style="display:none">
                    <label for="TibiaCoinRetro">Coin Retro Price</label>
                    <input type="number" id="TibiaCoinRetro" class="form-control" name="TibiaCoinRetro" ng-model="vm.script.TibiaCoinRetro" placeholder="Coin Retro Price" value="0" />
                </div>
                <!-- Coin Other Price -->
                <div class="form-group TibiaCoin" style="display:none">
                    <label for="TibiaCoinOther">Coin Other Price</label>
                    <input type="number" id="TibiaCoinOther" class="form-control" name="TibiaCoinOther" ng-model="vm.script.TibiaCoinOther" placeholder="Coin Other Price" value="0" />
                </div>
            </div>
            <hr />
            <!-- Comments -->
            <div class="form-group">
                <label for="Comment">Comments</label>
                <p class="help-block">(Optional - Add any extra info here, like the link to you profile on the forums. or how you want users to contact you if your script is paid)</p>
                <textarea class="form-control" rows="5" id="Comment" name="Comment" ng-model="vm.script.Comment"></textarea>
            </div>
            <!-- File Upload -->
            <div class="form-group">
                <label>Upload Script</label>
                <p class="help-block">(*required if your script is free, optional if it's paid.)</p>
                <input type="file" class="form-control" id="FileUpload" name="FileUpload" onchange="onUploadChange();" />
                <br />
                <div class="col-md-12">
                    <div class="col-md-4">
                        <input type="button" id="uploadBTN" value="Upload Script" ng-click="vm.uploadFile();" class="btn btn-primary" disabled="disabled">
                    </div>
                    <div class="col-md-8">
                        <img id="uploadIcon" ng-show="vm.uploadIcon" src="./assets/img/ajax-loader.gif" />
                        <p ng-bind="vm.result">upload successful</p>
                    </div>
                </div>
                <br />                                
            </div>
            <br />
            <p class="help-block">(Upload the following images on any image hosting website and paste the image links below)</p>
            <br />
            <div>
                <!-- HeaderIMG -->
                <div class="form-group">
                    <label for="HeaderImgUrl">Header Image Link</label>
                    <p class="help-block">(*required)</p>
                    <input type="text" id="HeaderImgUrl" class="form-control" name="HeaderImgUrl" ng-model="vm.script.HeaderImgUrl" placeholder="Header image URL" required />
                </div>
                <!-- BPIMG1 -->
                <div class="form-group">
                    <label for="BpImgUrl1">BackPack Image Link</label>
                    <p class="help-block">(*required)</p>
                    <input type="text" id="BpImgUrl1" class="form-control" name="BpImgUrl1" ng-model="vm.script.BpImgUrl1" placeholder="BP Image URL" required />
                </div>
                <!-- LocationIMG -->
                <div class="form-group">
                    <label for="LocationImgUrl">Location Image Link</label>
                    <p class="help-block">(Optional)</p>
                    <input type="text" id="LocationImgUrl" class="form-control" name="LocationImgUrl" ng-model="vm.script.LocationImgUrl" placeholder="Location URL" />
                </div>

                <!-- VideoURL -->
                <div class="form-group">
                    <label for="VideoURL">Video Link</label>
                    <p class="help-block">(Optional)</p>
                    <input type="text" id="VideoURL" class="form-control" name="VideoURL" ng-model="vm.script.VideoURL" placeholder="Video URL" />
                </div>
            </div>
            <div class=" col-md-10">
                <h3>Hot Keys <button type="button" id="ShiftBTN" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Shift</button></h3>
                <p class="help-block">(Just add the hotkey fields the script has and leave the rest of the table blank - click "Shift" button to switch to shift hotkeys)</p>
                <ul class="list-group" id="KeyList">
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>F1</b></p>  <input type="text" id="F1" name="F1" class="form-control" value=" " />
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>F2</b></p>  <input type="text" id="F2" name="F2" class="form-control" value=" " />
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>F3</b></p>  <input type="text" id="F3" name="F3" class="form-control" value=" " />
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>F4</b></p>  <input type="text" id="F4" name="F4" class="form-control" value=" " />
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>F5</b></p>  <input type="text" id="F5" name="F5" class="form-control" value=" " />
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>F6</b></p>  <input type="text" id="F6" name="F6" class="form-control" value=" " />
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>F7</b></p>  <input type="text" id="F7" name="F7" class="form-control" value=" " />
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>F8</b></p>  <input type="text" id="F8" name="F8" class="form-control" value=" " />
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>F9</b></p>  <input type="text" id="F9" name="F9" class="form-control" value=" " />
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>F10</b></p>  <input type="text" id="F10" name="F10" class="form-control" value=" " />
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>F11</b></p>  <input type="text" id="F11" name="F11" class="form-control" value=" " />
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>F12</b></p>  <input type="text" id="F12" name="F12" class="form-control" value=" " />
                    </li>
                </ul>
                <ul class="list-group" id="ShiftKeyList" style="display:none;">
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>Shift F1</b></p> <input type="text" id="ShiftF1" name="ShiftF1"  class="form-control" value=" " />
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>Shift F2</b></p> <input type="text" id="ShiftF2" name="ShiftF2" class="form-control" value=" " />
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>Shift F3</b></p> <input type="text" id="ShiftF3" name="ShiftF3" class="form-control" value=" " />
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>Shift F4</b></p> <input type="text" id="ShiftF4" name="ShiftF4" class="form-control" value=" " />
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>Shift F5</b></p> <input type="text" id="ShiftF5" name="ShiftF5" class="form-control" value=" " />
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>Shift F6</b></p> <input type="text" id="ShiftF6" name="ShiftF6" class="form-control" value=" " />
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>Shift F7</b></p> <input type="text" id="ShiftF7" name="ShiftF7" class="form-control" value=" " />
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>Shift F8</b></p> <input type="text" id="ShiftF8" name="ShiftF8" class="form-control" value=" " />
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>Shift F9</b></p> <input type="text" id="ShiftF9" name="ShiftF9" class="form-control" value=" " />
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>Shift F10</b></p> <input type="text" id="ShiftF10" name="ShiftF10" class="form-control" value=" ">
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>Shift F11</b></p> <input type="text" id="ShiftF11" name="ShiftF11" class="form-control" value=" ">
                    </li>
                    <li class="list-group-item">
                        <p class="col-md-2 text-center"><b>Shift F12</b></p> <input type="text" id="ShiftF12" name="ShiftF12" class="form-control" value=" ">
                    </li>
                </ul>
                <p class="help-block">
                    *summmary*<br />
                    blah blah
                </p>
                <input type="submit" name="Submit" value="Add Script" class="btn btn-primary form-control" />
            </div>
        </div>
    </form>
    <div jquery-dir></div>
</div>
<br />
<br />
