<div class="row" id="userHeader">
<br />
<p class="usertext text-center">Scripts added by: <span ng-bind="vm.username"></span></p>  
</div>
<hr />
<br />
<div class="row">
<div class="col-md-12">
        <div class="col-md-3" ng-repeat="script in vm.scriptsByAuthor">
            <a ui-sref="tibiascript({script_Id: script._id})">
                <div class="thumbnail">
                    <img ng-src="{{script.HeaderImgUrl}}" alt="{{script.Title}}" />
                    <div class="caption">
                        <h4 ng-bind="script.Title"></h4>
                        <p><b>Vocation: </b><span ng-bind="script.Vocation"></span></p>
                        <p><b>Level: </b><span ng-bind="script.LevelFrom"></span><b> To </b><span ng-bind="script.LevelTo"></span></p>
                        <p><b>Author: </b><span ng-bind="script.Author"></span></p>
                        <p>
                            <span ng-show="script.Free"><b>Free</b></span>
                            <span ng-show="!script.Free"><b>Paid</b></span>
                        </p>
                    </div>
                </div>
            </a>            
        </div>        
    </div>
</div>