body {
    background-color: #eee;
}

#main {    
    background-color: #fff;    
}

#homeHeader {
    background-image: url('/assets/img/jumbobg.jpg');    
}

#logo {
    color: #fff;
    text-align: right;
    font-size: 55px;
    font-weight: bold;
}

.thumbnail {
    height: 396px;
}

.thumbnail > img {
    max-height:196px;
}

#vocationImage {
    border-radius: 10px;
}

#scriptPage,
#homeHeader,
#vocationHeader,
#loginHeader,
#signupHeader,
#userHeader,
#aboutHeader {
    margin-top: 75px;
}

.sectionHeader {
    font-size: 30px;    
}

a:hover {
    text-decoration: none;
}

/*tibia script page*/
#scriptImgMain {
    
}
.scriptData {
    font-size: 20px;
}

.scriptData span {
    font-weight: bold;
}
#hotKeysTable {    
    font-size: 19px;
}

.aboutText {
    font-size: 18px;
}

.usertext {
    font-size: 25px;
}

#footer {
    width: 600px;
    height: 160px;
    background-color: red;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*for the sticky footer*/

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 200px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: #2c3e50;
}
