<div class="jumbotron" id="homeHeader">
    <p id="logo">WindScripts</p>
</div>
<br />
<div class="row">
    <div>
        <h2 class="text-center">Your source for Windbot Scripts</h2>
    </div>
</div>
<br />
<br />
<!-- New -->
<div class="row">
    <div class="col-md-3">
        <p class="sectionHeader text-center"><b>New Additions</b></p>
    </div>
    <div class="col-md-9">
        <div class="col-md-4" ng-repeat="script in vm.scriptsArray | orderBy:'-_id'  | limitTo: 6">
            <a ui-sref="tibiascript({script_Id: script._id})">
                <div class="thumbnail">
                    <img ng-src="{{script.HeaderImgUrl}}" alt="{{script.Title}}" />
                    <div class="caption">
                        <h4 ng-bind="script.Title"></h4>
                        <p><b>Vocation: </b><span ng-bind="script.Vocation"></span></p>
                        <p><b>Level: </b><span ng-bind="script.LevelFrom"></span><b> To </b><span ng-bind="script.LevelTo"></span></p>
                        <p><b>Author: </b><span ng-bind="script.Author"></span></p>
                        <p>
                            <span ng-show="script.Free"><b>Free</b></span>
                            <span ng-show="!script.Free"><b>Paid</b></span>
                        </p>
                    </div>
                </div>
            </a>            
        </div>    
    </div>
</div>
<hr />
<br />
<!-- Featured -->
<div class="row">
    <div class="col-md-3">
        <p class="sectionHeader text-center"><b>Featured Scripts</b></p>
    </div>
    <div class="col-md-9">
        <div class="col-md-4" ng-repeat="script in vm.scriptsArray | limitTo: 6">
            <a ui-sref="tibiascript({script_Id: script._id})">
                <div class="thumbnail">
                    <img ng-src="{{script.HeaderImgUrl}}" alt="{{script.Title}}" />
                    <div class="caption">
                        <h4 ng-bind="script.Title"></h4>                        
                        <p><b>Vocation: </b><span ng-bind="script.Vocation"></span></p>
                        <p><b>Level: </b><span ng-bind="script.LevelFrom"></span><b> To </b><span ng-bind="script.LevelTo"></span></p>
                        <p><b>Author: </b><span ng-bind="script.Author"></span></p>
                        <p>
                            <span ng-show="script.Free"><b>Free</b></span>
                            <span ng-show="!script.Free"><b>Paid</b></span>
                        </p>
                    </div>
                </div>
            </a>            
        </div>        
    </div>
</div>

