<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navBar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WindScripts</a>
        </div>
        <div class="collapse navbar-collapse" id="navBar">
            <ul class="nav navbar-nav navbar-left">                
                <li><a class="navItem" ui-sref="vocation({vocation: 'knight'})"> Knight</a></li>
                <li><a class="navItem" ui-sref="vocation({vocation: 'paladin'})"> Paladin</a></li>
                <li><a class="navItem" ui-sref="vocation({vocation: 'sorcerer'})"> Sorcerer</a></li>
                <li><a class="navItem" ui-sref="vocation({vocation: 'druid'})"> Druid</a></li>                 
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="navItem" ng-show="authenticated" ui-sref="addscript"> Add Script</a></li>  
                <li><a class="navItem"  ui-sref="about"> About Us</a></li>      
                <li><a class="navItem" id="loginBTN" ng-hide="authenticated" ui-sref="login"> Login</a></li>
                <li><a class="navItem" id="signupBTN" ng-hide="authenticated" ui-sref="signup"> Sign up</a></li>  
<!--                <li><a class="navItem" ng-show="adminUser" ui-sref="addscript"> AddScript</a></li>-->                
                <li><a class="navItem" ng-show="authenticated" ui-sref="user({username: userLink})"> {{userLink}}</a></li>
                <li><a class="navItem" ng-show="authenticated" ui-sref="logout" > Log out</a></li>  
            </ul>
        </div>
    </div>
</nav>
<div jquery-dir></div>