<div class="row" id="scriptPage">
    <h1 class="text-center" ng-bind="vm.script.Title"></h1>
</div>
<br />
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img ng-src="{{vm.script.HeaderImgUrl}}" id="scriptImgMain" alt="vm.script.Title" class="center-block img-responsive"/>
    </div>    
</div>
<br />
<hr />
<!-- Script Information -->
<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <h2>Script Information</h2>
        </div>
        <div class="col-md-9">
            <br />
            <p class="scriptData text-center">Level: <span ng-bind="vm.script.LevelFrom"></span> - <span ng-bind="vm.script.LevelTo"></span></p>
            <p class="scriptData text-center">Vocation/s: <span ng-hide="!vm.script.Vocations" ng-bind="vm.script.Vocations"></span><span ng-show="!vm.script.Vocation">ALL</span></p>
            <p class="scriptData text-center">Exp: <span ng-bind="vm.script.ExpFrom"></span> - <span ng-bind="vm.script.ExpTo"></span></p>
            <p class="scriptData text-center">Profit: <span ng-bind="vm.script.LootFrom"></span> k/h to <span ng-bind="vm.script.LootTo"></span> k/h+</p>  
            <p class="scriptData text-center">Difficulty: <span ng-bind="vm.script.Difficulty"></span></p>
        </div>
    </div>
</div>
<br />
<hr />
<!-- Features -->
<div class="row">        
    <div class="col-md-12">
        <div class="col-md-3">
            <h2>Features</h2>
        </div>
        <div class="col-md-9">
            <br />
            <p class="scriptData text-center"><span ng-bind="vm.script.Features"></span></p>
        </div>
    </div>
</div>
<br />
<hr />
<!-- Video -->
<div ng-show="vm.script.VideoURL">
    <div class="row">        
        <div class="col-md-12">
            <div class="col-md-3">
                <h2>Video</h2>
            </div>
            <div class="col-md-9">
                <br />
                <youtube-help videolink="{{vm.script.VideoURL}}"></youtube-help>
            </div>
        </div>
    </div>
    <br />
    <hr />
</div>
<!-- Location -->
<div class="row">        
    <div class="col-md-12">
        <div class="col-md-3">
            <h2>Location</h2>
        </div>
        <div class="col-md-9">
            <br />
            <p class="scriptData text-center"><span ng-bind="vm.script.Location"></span></p>
            <br />
            <img ng-src="{{vm.script.LocationImgUrl}}" class="center-block img-responsive" alt="vm.script.Location" />
        </div>
    </div>
</div>
<br />
<hr />
<!-- Requirements -->
<div class="row">        
    <div class="col-md-12">
        <div class="col-md-3">
            <h2>Requirements</h2>
        </div>
        <div class="col-md-9">
            <br />
            <p class="scriptData text-center"><span ng-bind="vm.script.Requirements"></span></p>
        </div>
    </div>
</div>
<br />
<hr />
<!-- Backpack Setup -->
<div class="row">        
    <div class="col-md-12">
        <div class="col-md-3">
            <h2>Backpack Setup</h2>
        </div>
        <div class="col-md-9">
            <br />
            <div class="col-md-8 col-md-offset-2">
                <div>
                    <img ng-src="{{vm.script.BpImgUrl1}}" class="center-block img-responsive" alt="vm.script.Title" />
                </div>

            </div>
        </div>
    </div>
</div>
<br />
<hr />
<!-- Hot Keys -->
<div class="row">        
    <div class="col-md-12">
        <div class="col-md-3">
            <h2>Hot Keys</h2>
        </div>
        <div class="col-md-9">
            <br />
            <div class="col-md-8 col-md-offset-2">
                <table id="hotKeysTable" class="table table-striped">
                    <thead>
                    </thead>
                    <tbody>
                    <tr ng-repeat="key in vm.script.HotKeys">
                        <td class="text-center" ng-bind="key.keyName"></td>    
                        <td ng-bind="key.keyValue"></td>    
                    </tr>
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
</div>
<br />
<hr />
<!-- Buy -->
<div class="row" ng-hide="vm.script.Free">        
    <div class="col-md-12">
        <div class="col-md-3">
            <h2>Prices</h2>
        </div>
        <div class="col-md-9">
            <br />
            <div class="col-md-4 col-md-offset-4">   
                <div>
                    <p><h3>Paypal </h3><span ng-bind="vm.script.Paypal"></span>$</p>
                </div>
                <div ng-show="vm.script.TibiaGold">
                    <h3>Gold</h3>
                    <p>Retro: <span ng-bind="vm.script.TibiaGoldRetro"></span>k | Other: <span ng-bind="vm.script.TibiaGoldOther"></span>k</p>
                </div>
                <div ng-show="vm.script.TibiaCoin">
                    <h3>Tibia Coin</h3>
                    <p>Retro: <span ng-bind="vm.script.TibiaCoinRetro"></span> coin | Other: <span ng-bind="vm.script.TibiaCoinOther"></span> coin</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Download -->
<div class="row" ng-show="vm.script.Free">        
    <div class="col-md-12">
        <div class="col-md-3">
            <h2>Download Script</h2>
        </div>
        <div class="col-md-9">
            <br />
            <div class="col-md-4 col-md-offset-4">   
                <a target="_self" href="{{vm.getDownloadLink(vm.script_Id)}}" download="{{vm.script.Title}}">
                    <input type="button" value="Download Free Script" class="btn btn-primary" />
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<!-- Comments -->
<div class="row" ng-show="vm.script.Comment">        
    <div class="col-md-12">
        <div class="col-md-3">
            <h2>Comments</h2>
        </div>
        <div class="col-md-9">
            <br />
            <p class="scriptData text-center"><span ng-bind="vm.script.Comment"></span></p>
        </div>
    </div>
</div>
<br />
<br />